@import "../sass/main.scss";

.about {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width: 426px) {
    width: 85%;
    padding: 0 0 150px;
  }
  &_collapse {
    margin: 20px auto;
  }
}

.collapse {
  h2 {
    font-weight: 500;
    font-size: 24px;
    @media screen and (max-width: 426px) {
      font-size: 13px;
    }
  }

  p {
    font-weight: 400;
    font-size: 24px;
    @media screen and (max-width: 426px) {
      font-size: 12px;
    }
  }
}

.aboutPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
