@import "../sass/main.scss";

.accommodation {
  margin: 0 auto;

  &_content {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

    &_information {
      display: flex;
      flex-direction: column;
    }
  }

  &_title {
    color: $color-primary;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
  }

  &_location {
    color: $color-primary;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &_tag {
    display: flex;
    gap: 10px;
    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: $color-primary;
      width: 115px;
      height: 25px;
      border-radius: 10px;
    }
  }

  &_host {
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0 10px;

      img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }

    &_name {
      display: flex;
      flex-direction: column;
      align-self: center;
      font-weight: 500;
      font-size: 18px;
      color: $color-primary;
    }
  }

  &_collapse {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    width: 95%;
    &_item {
      width: 50%;
    }
  }
}

.accommodationPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
