@import "../sass/main.scss";

.carrousel {
  position: relative;
  display: flex;
  height: 415px;
  border-radius: 25px;
  margin: 40px 36px;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 426px) {
    height: 255px;
    margin: 40px 20px;
  }

  &_arrow {
    position: absolute;
    top: 45%;
    height: 15%;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    &_left {
      left: 20px;
      @media screen and (max-width: 426px) {
        height: 20px;
      }
    }

    &_right {
      right: 20px;
      @media screen and (max-width: 426px) {
        height: 20px;
      }
    }
  }

  &_counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }
}
