@import "../sass/main.scss";

.collapse {
  background-color: $color-secondary;
  &_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 3px rgb(0, 0, 0);
    }

    .arrow {
      transition: all 0.2s ease-in-out;
    }

    .arrow_up {
      transform: rotate(0deg);
    }
    .arrow_down {
      transform: rotate(180deg);
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    color: $color-primary;
    padding: 20px 10px 10px;
    opacity: 1;
    transition: 200ms opacity ease-in-out;

    &-hidden {
      visibility: hidden;
      height: 0;
      opacity: 0;
      transition: 200ms opacity ease-in-out;
    }
  }
}
